.noora-toggle-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 32px;
  height: 20px;

  & [data-part="track"] {
    position: relative;
    display: flex;
    align-items: center;
    width: 28px;
    height: 14px;
    border-radius: 7px;
    transition: background-color 0.15s ease-in-out;
  }

  & [data-part="thumb"] {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--noora-choice-selector-label);
    box-shadow: var(--noora-border-light-default);
    transition: left 0.15s ease-in-out;
  }

  &[data-state="unchecked"] {
    & [data-part="track"] {
      background: var(--noora-choice-selector-switch-off-background);
    }

    & [data-part="thumb"] {
      left: 0;
    }
  }

  &[data-state="checked"] {
    & [data-part="track"] {
      background: var(--noora-choice-selector-check-background);
      box-shadow: 0px 1px 0px 0px oklch(100% 0 0 / 0.2) inset;
      border: 1px solid var(--noora-purple-500);
    }

    & [data-part="thumb"] {
      left: 14px;
    }
  }

  &[data-disabled] {
    cursor: not-allowed;

    & [data-part="track"] {
      background: var(--noora-choice-selector-disabled-background);
      box-shadow: var(--noora-border-light-default);
    }

    & [data-part="thumb"] {
      opacity: 0.6;
    }
  }
}
