name: Noora CLI

on:
  push:
    branches:
      - main
    paths:
      - "cli/**"
      - ".github/workflows/cli.yml"
  pull_request:
    paths:
      - "cli/**"
      - ".github/workflows/cli.yml"

concurrency:
  group: noora-cli-${{ github.head_ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: "Release build on ${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: SwiftyLab/setup-swift@latest
        if: runner.os == 'Linux'
        with:
          swift-version: "6.1.2"
      - uses: actions/cache@v4
        with:
          path: cli/.build
          key: ${{ runner.os }}-spm-${{ hashFiles('cli/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run cli:build

  test:
    name: "Test on ${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: SwiftyLab/setup-swift@latest
        if: runner.os == 'Linux'
        with:
          swift-version: "6.1.2"
      - uses: actions/cache@v4
        with:
          path: cli/.build
          key: ${{ runner.os }}-spm-${{ hashFiles('cli/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run cli:test

  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: cli/.build
          key: ${{ runner.os }}-spm-${{ hashFiles('cli/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run cli:lint
