name: Deploy
on:
  push:
    branches:
      - "main"

concurrency:
  group: deploy-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - run: mise run docs:deploy
