name: Deploy
on:
  push:
    branches:
      - "main"

concurrency:
  group: deploy-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    defaults:
      run:
        working-directory: docs
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - run: pnpm install
      - run: mise run docs:deploy
