name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

concurrency:
  group: docs-${{ github.head_ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: docs

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
      - run: mise run docs:build
