name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

concurrency:
  group: docs-${{ github.head_ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: docs

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
      - run: mise run docs:build
