name: Noora Web

on:
  push:
    branches:
      - main
    paths:
      - "web/**"
      - ".github/workflows/web.yml"
  pull_request:
    paths:
      - "web/**"
      - ".github/workflows/web.yml"

concurrency:
  group: noora-web-${{ github.head_ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MISE_HTTP_TIMEOUT: 60

defaults:
  run:
    working-directory: web

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            web/deps
            web/_build
          key: ${{ runner.os }}-mix-${{ hashFiles('web/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
      - name: Install hex dependencies
        run: mix deps.get
      - name: Build
        run: mise run web:build
        env:
          MIX_ENV: prod

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            web/deps
            web/_build
          key: ${{ runner.os }}-mix-${{ hashFiles('web/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
      - name: Install hex dependencies
        run: mix deps.get
      - name: Lint
        run: mise run web:lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
        working-directory: web
      - name: Test
        run: mise run web:test

  docker_build:
    name: Docker build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./storybook/Dockerfile
          push: false
          tags: noora/storybook
          cache-from: type=gha
          cache-to: type=gha,mode=max
