name: Noora Web

on:
  push:
    branches:
      - main
    paths:
      - "web/**"
      - ".github/workflows/web.yml"
  pull_request:
    paths:
      - "web/**"
      - ".github/workflows/web.yml"

concurrency:
  group: noora-web-${{ github.head_ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18"
          otp-version: "27"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Install pnpm dependencies
        run: pnpm install
      - name: Install hex dependencies
        run: mix deps.get
      - name: Build
        run: mise run web:build
        env:
          MIX_ENV: prod

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18"
          otp-version: "27"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Lint
        run: mise run web:lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Test
        run: mise run web:test
